extends ../layouts/main.pug
block content
    .container
        header
            h1= `Showing To Do Item: ${item.name}`


        div
            table.table
                tr
                  th.th-main= "To Do Item Name"
                  td.td-show= item.name
                tr
                  th.th-main= "Item Description"
                  td.td-show= item.description
                tr
                  th.th-main= "To Do Item Due Date"
                  td.td-show= item.dueDate
                tr
                  th.th-main= "To Do Item Priority"
                  td.td-show= item.priority


